# Directories to watch for new files
watchDirs:
  - "/mnt/c/Users/bob/OneDrive/Pictures/Camera Roll"

# The default directory where the files should be moved
defaultDestinationDir: "/mnt/c/Users/bob/OneDrive/Camera"

# The extensions of the image files to be moved
imageExtensions: 
  - ".jpg"
  - ".jpeg"

# The extensions of the video files to be moved
videoExtensions: 
  - ".mp4"
  - ".mov"
  - ".avi"
  - ".flv"
  - ".wmv"
  - ".mkv"

# The extensions of the files that should not be moved
bannedExtensions: 
  - ".png"

# The path to the lock file
lockFilePath: "/tmp/movephoto.lock"
